:root {
  --branding-color: #bdd29d;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #fdedf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 62px;
}

h4 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 50px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 1.5;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 17px;
  font-family: var(--default-font-family);
  line-height: 25px;
  padding: 12px 20px;
}

.project-description {
  padding: 120px 60px 0;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 10px 0;
}

nav ul {
  font-family: var(--default-font-family);
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  font-size: 14px;
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .email-link {
  font-family: var(--default-font-family);
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 23px;
  }

  .btn {
    font-size: 15px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  footer .contact-box {
    padding: 20px;
  }
}
